@import "_normalize.scss";
@import "_mixins.scss";

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	/* font-family: ''; */
	font-size: 1.8rem;
	line-height: 1.6;
	color: #333;
	min-height: 100%;
}